.login--form--section {
	margin: 0 auto;
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.button--send {
	background-color: var(--clr--accept);
	border: none;
	padding: 10px 25px;
	margin: 10px 0px;
	cursor: pointer;
	border-radius: 5px;
	transition: 0.1s all linear;
	font-weight: 500;
	letter-spacing: 0.3px;
}

.button--send:disabled {
	background-color: var(--clr--black--low);
	cursor: not-allowed;
}
.button--send:hover {
	transition: 0.1s all linear;
	transform: scale(1.05);
}

.login--help--text {
	font-size: var(--fs--s);
	margin: 10px 0 2px 0;
	cursor: default;
}

.login--link--register,
.login--link--register:visited {
	text-transform: uppercase;
	color: var(--clr--primary);
}
