.card {
	width: 260px;
	min-height: 380px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	box-shadow: 0px 1px 1px 2px var(--clr--blue--lighter);
	background-color: var(--clr--blue--light);
	position: relative;
}
.card--HIGH--NEW {
	box-shadow: 0px 1px 2px 4px red;
}
.card--HIGH--IN {
	box-shadow: 0px 1px 2px 4px red;
}
.card--HIGH--FINISHED {
	box-shadow: 0px 1px 2px 4px red;
}
.card--delete {
	padding: 5px;
	color: var(--clr--blue--dark);
	border: none;
	cursor: pointer;
	font-size: var(--fs--xl);
	position: absolute;
	right: 0px;
	background-color: transparent;
	transition: all 0.2s;
}
.card--delete:hover {
	transition: all 0.2s;
	color: red;
}
.card--label {
	width: 80%;
	font-size: var(--fs--xs);
	border-bottom: 1px solid var(--clr--blue--dark);
	margin: 2px 0px;
}
.card--title {
	width: 90%;
	text-align: center;
	font-size: var(--fs--l);
	text-transform: capitalize;
	letter-spacing: 0.5px;
	margin: 5px 0px;
	cursor: default;
	font-weight: 600;
	color: var(--clr--blue--darker);
	font-family: var(--ff--ss--bold);
}
.card--time {
	width: 100%;
	text-align: center;
	font-size: var(--fs--s);
	margin: 5px 0px;
	cursor: default;
}
.card--user {
	width: 100%;
	text-align: center;
	font-size: var(--fs--m);
	margin: 5px 0px;
	cursor: default;
}
.card--button {
	width: 162px;
	background-color: var(--clr--accept);
	border: none;
	padding: 7px 35px;
	margin: 5px 0px;
	cursor: pointer;
	border-radius: 5px;
	transition: 0.1s all linear;
	font-weight: 500;
	letter-spacing: 0.3px;
	background-color: var(--clr--blue--lighter);
	color: var(--clr--blue--darker);
	border: 2px solid var(--clr--blue--darker);
	font-family: var(--ff--ss--bold);
	text-transform: capitalize;
}
.NEW {
	background-color: lightblue;
	color: var(--clr--blue--dark);
}
.IN {
	background-color: gold;
	color: var(--clr--blue--dark);
}
.FINISHED {
	background-color: lime;
	color: var(--clr--blue--dark);
}
.LOW {
	background-color: pink;
}
.MEDIUM {
	background-color: mediumpurple;
}
.HIGH {
	background-color: red;
	color: white;
}
.card--description {
	width: 200px;
	min-height: 50px;
	margin-bottom: 5px;
	padding-top: 2px;
	text-align: start;
	overflow: hidden;
	color: var(--clr--blue--darker);
	font-family: var(--ff--ss--regular);
	font-size: var(--fs--s);
}
