.card {
	width: 250px;
	min-height: 380px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 4px 8px var(--clr--black--medium);
	background-color: #bababa33;
}
.card--HIGH--NEW {
	box-shadow: 0px 4px 8px red;
	border: 1px solid red;
}
.card--delete {
	align-self: flex-end;
	padding: 6px;
	color: red;
	border: none;
	margin: 2px;
	cursor: pointer;
	font-size: var(--fs--m);
}
.card--label {
	width: 80%;
	font-size: var(--fs--xs);
	border-bottom: 1px solid rgba(128, 128, 128, 0.541);
	margin: 2px 0px;
}
.card--title {
	width: 90%;
	text-align: center;
	font-size: var(--fs--l);
	text-transform: capitalize;
	letter-spacing: 0.5px;
	margin: 5px 0px;
	cursor: default;
	font-weight: 600;
}
.card--time {
	width: 100%;
	text-align: center;
	font-size: var(--fs--s);
	margin: 5px 0px;
	cursor: default;
}
.card--user {
	width: 100%;
	text-align: center;
	font-size: var(--fs--m);
	margin: 5px 0px;
	cursor: default;
}
.card--button {
	padding: 5px;
	width: 120px;
	height: 35px;
	margin: 5px 0px;
	cursor: pointer;
	transition: 0.1s all linear;
}
.NEW {
	border: 1px solid blue;
	background-color: lightblue;
}
.IN {
	border: 1px solid yellow;
	background-color: gold;
}
.FINISHED {
	border: 1px solid green;
	background-color: lime;
}
.LOW {
	border: 1px solid purple;
	background-color: pink;
}
.MEDIUM {
	border: 1px solid purple;
	background-color: mediumpurple;
}
.HIGH {
	border: 1px solid black;
	background-color: red;
	color: white;
}
.card--description {
	width: 200px;
	min-height: 50px;
	margin-bottom: 5px;
	padding-top: 2px;
	text-align: start;
	overflow: hidden;
}
